nav#site-navigation {
	text-align: left;
}
.main-navigation ul, .main-navigation .nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-navigation .nav-menu li {
	display: inline-block;
	font-size: 16px;
	position: relative;
}
.main-navigation .nav-menu li a {
	display: inline-block;
	padding: 15px 15px;
	vertical-align: middle;
}
.main-navigation .nav-menu li:last-child a {
	padding-right: 0;
}
.main-navigation .nav-menu li.menu-item-has-children a {
	padding-right: 15px;
}
.main-navigation .nav-menu li:hover a, 
.main-navigation .nav-menu li.current-menu-item a, 
.main-navigation .nav-menu li.current_page_item a {
	color: #2b96cc;
}
.main-navigation .nav-menu li.current-menu-item a, 
.main-navigation .nav-menu li.current_page_item a {
	font-family: 'Open Sans', sans-serif; 
	line-height: 20px;
}
.main-navigation .nav-menu > li.menu-item-has-children:after {
	font-family: fontawesome;
	position: absolute;
	right: 3px;
	top: 33px;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
	font-size: 12px;
}
.main-navigation .nav-menu > li.menu-item-has-children:hover:after,
.main-navigation .nav-menu > li.current-menu-item.menu-item-has-children:after, 
.main-navigation .nav-menu > li.current_page_item.menu-item-has-children:after {
	color: #2b96cc;
}
.main-navigation .nav-menu > li.menu-item-has-children:before {
	border-bottom: 8px solid #2b96cc;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	bottom: 0;
	z-index: 1;
	left: 20%;
	opacity: 0;
	visibility: visible;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.main-navigation .nav-menu > li.menu-item-has-children:hover:before {
	opacity: 1;
	filter: Alpha(opacity= 100);
	visibility: visible;
}
.main-navigation .nav-menu li .sub-menu, .main-navigation .nav-menu li .children {
	position: absolute;
	z-index: 9999;
	width: 200px;
	text-align: left;
	background: #2b96cc;
	left: 0;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.main-navigation .nav-menu li:nth-last-child(2) .sub-menu, .main-navigation .nav-menu:nth-last-child(2) li .children,
.main-navigation .nav-menu li:last-child .sub-menu, .main-navigation .nav-menu:last-child li .children {
	left: inherit;
	right: 0;
}
.main-navigation .nav-menu li:hover > .sub-menu, .main-navigation .nav-menu li:hover > .children {
	opacity: 1;
	filter: Alpha(opacity= 100);
	visibility: visible;
}
.main-navigation .nav-menu li .sub-menu li, .main-navigation .nav-menu li .children li {
	display: block;
	padding: 0;
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.main-navigation .nav-menu li .sub-menu li.menu-item-has-children:after, 
.main-navigation .nav-menu li .children li.menu-item-has-children:after {
	font-family: fontawesome;
	position: absolute;
	right: 10px;
	top: 11px;
	color: #fff;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.main-navigation .nav-menu li .sub-menu li:hover, 
.main-navigation .nav-menu li .children li:hover {
	background: #1576a6;
}
.main-navigation .nav-menu li.current-menu-item .sub-menu li a, 
.main-navigation .nav-menu li.current_page_item .sub-menu li a,
.main-navigation .nav-menu li.current-menu-item .children li a, 
.main-navigation .nav-menu li.current_page_item .children li a {
	font-family: 'Open Sans', sans-serif; 
	font-weight: 400;
}
.main-navigation .nav-menu .sub-menu li.current-menu-item a, 
.main-navigation .nav-menu .sub-menu li.current_page_item a,
.main-navigation .nav-menu .children li.current-menu-item a, 
.main-navigation .nav-menu .children li.current_page_item a{
	background: #1576a6;
}
.main-navigation .nav-menu li .sub-menu li a, 
.main-navigation .nav-menu li .children li a {
	padding: 10px;
	width: 100%;
	color: #fff;
	border-bottom: 1px solid #1576a6;
}
.main-navigation .nav-menu li .sub-menu li.menu-item-has-children a, 
.main-navigation .nav-menu li .children li.menu-item-has-children a {
	padding-right: 25px;
}
.main-navigation .nav-menu li .sub-menu li:last-child > a, 
.main-navigation .nav-menu li .children li:last-child > a {
	padding-bottom: 10px;
	border-bottom: none;
}
.main-navigation .nav-menu li:hover .sub-menu li a, 
.main-navigation .nav-menu li:hover .children li a {
	color: #fff;
}
.main-navigation .nav-menu li .sub-menu li .sub-menu, 
.main-navigation .nav-menu li .children li .children {
	left: 100%;
	top: 0;
}

.main-navigation .nav-menu li a {
	padding-left: 10px;
	padding-right: 10px;
    text-decoration: none;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    background-color: transparent;
    display: inline-block;
}

.main-navigation .nav-menu > li.menu-item-has-children:after {
	right: 0;
}

.menucantainer
{
   /* background: url('../img/menu_bg.JPG');*/
   background-color: rgba(246,248,247,255);
	background-repeat: repeat-x;
}